@media screen and (min-width: 768px) {
    #left-sidebar {
        position: sticky;
        position: -webkit-sticky;
    }

    #filter-bar {
        position: sticky;
        position: -webkit-sticky;
        background-color: white;
        z-index: 10;
    }
}

ol.breadcrumb {
    background-color: white;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    border-style: dashed;
    border-color: blue;
}

.nav-pills .nav-link {
    border-radius: 0;
}